SCRATCH_SESSION_ID=
SCRATCH_USERNAME=weather_sunny
JMA_AREA_CODE=130000
AREA_LABEL=東京
LATITUDE=35.68
LONGITUDE=139.77
BIO_FIXED=なんかいろいろやってますぅ
STATE_PATH=state.json
LOOP_SECONDS=60
MIN_REFRESH=1800
DRY_RUN=0
